<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="./bootstrap-5.1.3-dist/css/bootstrap.css">
     <link rel="stylesheet" href="/index.css">
     <link rel="stylesheet" href="/musicians.css">
     <style>
      /* .banner-image {
        background-image: url('/images/background2.jpg');
        background-size: cover;
      } */
    </style>
     <title>UGAAMUX</title>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid" id="nav-bar">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="#">
                    <img src="/images/logo.PNG" alt="" width="160px" height="60">
                  </a>
                </div>
              </nav>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="musicians.html">Musicians</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Bands.html">Bands</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Performing Artists
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="drama.html">Dramatists</a></li>
                  <li><a class="dropdown-item" href="comedy.html">Comedians</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="document.html">Documentary Creators</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container" id="Country">
          <div class="row">
            <h3>Pioneers</h3>
            <div class="col">
              <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                  <span class=""></span>
                  <h2>Elly Wamala</h2>
                  <p>One of Uganda's first musicians to release a recorded song and have it become a commercial hit in the 1950s when he released Nabutono</p>
                  
                </div>
                <div class="card-stats"></div>
              </div>
            </div> <div class="col">
              <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                  <span class=""></span>
                  <h2>Elly Wamala</h2>
                  <p>One of Uganda's first musicians to release a recorded song and have it become a commercial hit in the 1950s when he released Nabutono</p>
                  
                </div>
                <div class="card-stats">
                  <div class="stat border">
                  <div class="value">42</div>
                  <div class="type">Songs</div>
                </div>
                <div class="stat">
                  <div class="value"><h3>4</h3></div>
                  <div class="type"><h3>Album</h3></div>
                </div></div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                  <span class=""></span>
                  <h2>Elly Wamala</h2>
                  <p>One of Uganda's first musicians to release a recorded song and have it become a commercial hit in the 1950s when he released Nabutono</p>
                  
                </div>
                <div class="card-stats"></div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                  <span class=""></span>
                  <h2>Elly Wamala</h2>
                  <p>One of Uganda's first musicians to release a recorded song and have it become a commercial hit in the 1950s when he released Nabutono</p>
                  
                </div>
                <div class="card-stats">
                  <div class="stat">
                    <div class="value">42</div>
                    <div class="type">Songs</div>
                  </div>
                  <div class="stat">
                    <div class="value"><h3>4</h3></div>
                    <div class="type"><h3>Album</h3></div>/div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-image"></div>
                <div class="card-text">
                <h2>Elly Wamala</h2>
                <p>One of Uganda's first musicians to release a recorded song and have it become a commercial hit in the 1950s when he released Nabutono</p>
                </div>
                <div class="card-stat">
                  <div class="stat border">
                    <div class="value">42</div>
                    <div class="type">Songs</div>
                  </div>
                  <div class="stat">
                    <div class="value"><h3>4</h3></div>
                    <div class="type"><h3>Album</h3></div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   
  </body>
</html>